body {
  background: #525659;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 11pt;
  color: black;
  -webkit-print-color-adjust: exact;
}

body h1,
body h2 {
  line-height: 1.4;
  margin: 0;
  color: #444;
}

body h1 {
  font-size: 14pt;
}

body h2 {
  font-size: 12pt;
  font-weight: normal;
}

body span {
  color: #1976d2;
}

body .wrapper {
  width: 210mm;
  height: auto;
  min-height: calc(100vh - 48px);
  margin: 24px auto;
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px 2px #1a1a1a9e;
          box-shadow: 0px 0px 4px 2px #1a1a1a9e;
}

@media print {
  body .wrapper {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    width: unset;
  }
}

body .wrapper .content {
  padding: 15mm;
}

@media print {
  body .wrapper .content {
    padding: 0;
    padding-top: 10px;
  }
}

body .wrapper .content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
}

body .wrapper .content .header div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .content .header div img {
  width: auto;
  opacity: .6;
  max-height: 100px;
}

body .wrapper .content .infos {
  font-weight: bold;
  font-size: 12pt;
  color: #444;
  line-height: 1.4;
}

body .wrapper .content .infos ul {
  padding: 0;
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin: 1rem .5rem 1.5rem .5rem;
}

body .wrapper .content .infos ul li {
  list-style: none;
  padding: 0 .5rem;
}

body .wrapper .content thead {
  font-weight: bold;
  text-align: center;
}

body .wrapper .content thead:nth-child(1) {
  background: #414141;
  color: #fff;
}

body .wrapper .content thead:nth-child(2) {
  background: #eeeeee;
}

body .wrapper .content th,
body .wrapper .content td,
body .wrapper .content thead,
body .wrapper .content table {
  border: 0.01em solid #414141;
  border-collapse: collapse;
  padding: 6px 4px;
}

body .wrapper .content td {
  font-size: 10.8pt;
}

body .wrapper .content footer {
  font-size: 10pt;
  font: small-caption;
  text-align: right;
  color: #999999;
  margin: 2px;
}

body .wrapper .content button {
  border: unset;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 3rem;
  background: #F44336;
  color: #fff;
  position: fixed;
  right: 4vw;
  cursor: pointer;
  bottom: 4vh;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

body .wrapper .content button:hover {
  -webkit-box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.32);
}

@media print {
  body .wrapper .content button {
    display: none;
  }
}

.report table .acompanhante {
  text-align: center;
}

.report .info {
  padding: 10px 15px;
  line-height: 1.4;
  background-color: #eeeeee;
  margin-top: 10px;
}

.report .info.observacoes {
  background: #ffe016;
}

.report:not(.report__lista) .header > div:first-child,
.report:not(.report__lista) .header > div:last-child {
  display: none;
}

